<link rel="stylesheet" type="text/css" href="./custom/css/admin.css" />
        <div ng-show="innerDiv">
            <h3 class="page-header box"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Welcome to our admin dashboard ,<b>{{session.userName}}</b></h3>
  
            <div class="row placeholders box">
              <div class="col-xs-6 col-sm-3 placeholder">
                <img src="./img/header-employees.jpg" width="200" height="150" class="img-responsive" class="" alt="employees">
                <h4>Employees <span class="label label-primary">{{totalEmp}}</span></h4>
                <span class="text-muted">Total Employees</span>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <img src="./img/checklist_yellow.png" width="200" height="200" class="img-responsive" class="" alt="task">
                <h4>Tasks  <span class="label label-warning">{{totalAssigned}}</span></h4>
                <span class="text-muted">Task assigned</span>
              </div>
              <div class="col-xs-6 col-sm-3 placeholder">
                <img src="./img/task.png" width="200" height="200" class="img-responsive" alt="task">
                <h4>Tasks</h4>
                <span class="text-muted">Task completed</span>
              </div>
              <!-- <div class="col-xs-6 col-sm-3 placeholder">
                 
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Tasks</h4>
                <span class="text-muted">Something else</span>
              </div> -->
            </div>
        </div>
           
         
       