
<div ng-show="innerDiv">
                <h3 class="text-center card"><i class="fa fa-address-card-o" aria-hidden="true"></i> Update your profile or go to <a href="/#!/admin">dashboard</a></h3>

                <div class="col-md-5 col-sm-5 col-xs-12 card">
                        <legend class="legend"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</legend>
                        <h5>Enter your <b>old</b> password and <b>new</b> Password.</h5>
                        <form name="changePasswordForm" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(changePasswordForm)"></form>
                </div>
            
                <!-- <div class="col-md-5 col-sm-5 col-xs-12 card">
                        <legend class="legend"><i class="fa fa-user-circle" aria-hidden="true"></i> Profile Update</legend>
                        <h5>Enter your <b>profile</b> informations.</h5>
                        <form sf-schema="schema" sf-form="form" sf-model="model"></form>
                </div>             -->
</div>
   