<link rel="stylesheet" type="text/css" href="./custom/css/admin.css" />
<div ng-show="innerDiv">
  <h3 class="page-header box"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Welcome to our admin dashboard
    ,<b>{{session.userName}}</b></h3>

  <div class="row placeholders box">

    <div class="col-xs-6 col-sm-3 ">
      <div class="placeholder">
          <h5 class="header">Total Employees</h5>
      <img src="./img/employee.png" width="200" height="150" class="img-responsive" class="" alt="employees">
      <h4 class="footer">Employees <span class="label label-primary">{{totalEmp}}</span></h4>
      </div>
      
    </div>

    <div class="col-xs-6 col-sm-3 ">
      <div class="placeholder">
          <h5 class="header">Task assigned</h5>
          <img src="./img/checklist_yellow.png" width="200" height="200" class="img-responsive" class="" alt="task">
          <h4 class="footer">Tasks <span class="label label-warning">{{totalAssigned}}</span></h4>
      </div>
    </div>

    <div class="col-xs-6 col-sm-3 ">
      <div class="placeholder">
          <h5 class="header">Task completed</h5>
          <img src="./img/task.png" width="200" height="200" class="img-responsive" alt="task">
          <h4 class="footer">Tasks</h4>
      </div>
       
    </div>
    <!-- <div class="col-xs-6 col-sm-3 placeholder">
                 
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <h4>Tasks</h4>
                <span class="text-muted">Something else</span>
              </div> -->
  </div>
</div>