<link rel="stylesheet" type="text/css" href="./custom/css/employee.css" />
<div ng-show="innerDiv">
    <h3 class="sub-header box">Create, edit, update or delete an <i class="fa fa-user-o" aria-hidden="true"></i> employee</h3>

    <div class="box">
            <form name="employeeForm" sf-schema="schema" sf-form="form"
             sf-model="model" ng-submit="onSubmit(employeeForm)"></form>
    </div>
    

    <div class="table-responsive box">
      <table class="table table-striped display table-hover" id="empTable">
        <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email Id</th>
            <th>Employee Id</th>
            <th>Date of Joining</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in totalEmp">
            <td>{{$index+1}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.emailId}}</td>
            <td>{{item.employeeId}}</td>
            <td>{{item.dateOfJoining | date}}</td>
            <td><button class="btn btn-warning btn-xs" ng-click="update(item._id);"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update</button></td>
            <td><button class="btn btn-danger btn-xs" ng-click="delete(item._id);"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button></td>
          </tr>
          
        </tbody>
      </table>
    </div>
</div>