<div class="container" ng-show="innerDiv">
    <h3 class="text-center card">Welcome to <i class="fa fa-id-badge" aria-hidden="true"></i> Employee Task Manager
        Application! </h3>
    <div class="row ">

        <div class="col-md-5 col-sm-5 col-xs-12 card">
            <legend class="legend">Login</legend>
            <h5>Enter your User Name and Password to Continue.</h5>
            <form name="loginForm" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="onSubmit(loginForm)"></form>
        </div>
    </div>

</div>