<div ng-show="innerDiv">
        <h3 class="sub-header box"><i class="fa fa-list-alt" aria-hidden="true"></i> Assigned Tasks</h3>
    <div class="box">
            <!-- <form name="taskForm" sf-schema="schema" sf-form="form"
            sf-model="model" ng-submit="onSubmit(taskForm)"></form> -->
    </div>

    <div class="table-responsive box">
                <table class="table table-striped display" id="taskTable">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>title</th>
                      <th>Task Assigned</th>
                      <th>Task Assigned By</th>
                      <th>Task Assigned On</th>
                      <th>Update</th>
                    </tr>
                  </thead>
                  <tbody>
                          <tr ng-repeat="item in totalTasks">
                                  <td>{{$index+1}}</td>
                                  <td>{{item.title}}</td>
                                  <td>{{item.message}}</td>
                                  <td>{{item.assignedBy}}</td>
                                  <td>{{item.assignedOn | date}}</td>
                                  <td><button class="btn btn-warning btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update</button></td>
                          </tr>
                          </tbody>
                          </table>
                          </div>
</div>