<link rel="stylesheet" type="text/css" href="./custom/css/user-profile.css" />
<div ng-show="innerDiv">
        <h3 class="sub-header box"><i class="fa fa-list-alt" aria-hidden="true"></i>Update your Profile</h3>

    <div class="box" ng-if="session.roleType > 0">
            <form name="taskForm" sf-schema="schema" sf-form="form"
            sf-model="model" ng-submit="onSubmit(taskForm)"></form>
    </div>



    <div class="col-md-8">

        <div class="panel panel-default">
          <div class="panel-heading">  <h4 >User Profile</h4></div>
           <div class="panel-body">
               
            <div class="box box-info">
                
                    <div class="box-body">
                             <div class="col-sm-6">
                             <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                             <div style="color:#999;" >click here to edit your profile</div>
                             </div>
                      <br>
                        <!-- /input-group -->
                    </div>
                    <div class="col-sm-6">
                    <h4 style="color:#F4442E">Mr. Perfect </h4></span>
                      <span><p>Developer</p></span>            
                    </div>
                    <div class="clearfix"></div>
                    <hr style="margin:5px 0 5px 0;">
            
                      
        <div class="col-sm-5 col-xs-6 title">First Name:</div><div class="col-sm-7 col-xs-6 ">Mr. Perfect</div>
             <div class="clearfix"></div>
        <div class="bot-border"></div>
        
        <div class="col-sm-5 col-xs-6 title">Last Name:</div><div class="col-sm-7"> Man</div>
          <div class="clearfix"></div>
        <div class="bot-border"></div>
        
        <div class="col-sm-5 col-xs-6 title">Mother tongue:</div><div class="col-sm-7"> no</div>
          <div class="clearfix"></div>
        <div class="bot-border"></div>
        <div class="col-sm-5 col-xs-6 title">Qualification:</div><div class="col-sm-7"> no</div>
          <div class="clearfix"></div>
        <div class="bot-border"></div>
        <div class="col-sm-5 col-xs-6 title">Username:</div><div class="col-sm-7"> no</div>
          <div class="clearfix"></div>
        <div class="bot-border"></div>
        <div class="col-sm-5 col-xs-6 title">Gender:</div><div class="col-sm-7"> </div>
          <div class="clearfix"></div>
        <div class="bot-border"></div>
        
        <div class="col-sm-5 col-xs-6 title " >Date Of Joining:</div><div class="col-sm-7">15 Jun 2016</div>
        
          <div class="clearfix"></div>
        <div class="bot-border"></div>
        
        <div class="col-sm-5 col-xs-6 title " >Date Of Birth:</div><div class="col-sm-7">11 Jun 1998</div>
        
          <div class="clearfix"></div>
        <div class="bot-border"></div>
        <div class="col-sm-5 col-xs-6 title " >Employee ID:</div><div class="col-sm-7">11 Jun 1998</div>
        
          <div class="clearfix"></div>
        <div class="bot-border"></div>
        <div class="col-sm-5 col-xs-6 title " >Mobile Number:</div><div class="col-sm-7">11 Jun 1998</div>
        
          <div class="clearfix"></div>
        <div class="bot-border"></div>
        <div class="col-sm-5 col-xs-6 title " >Alternate Number:</div><div class="col-sm-7">11 Jun 1998</div>
        
          <div class="clearfix"></div>
        <div class="bot-border"></div>
        
        <div class="col-sm-5 col-xs-6 title " >Job Designation:</div><div class="col-sm-7">Queens</div>
        
         <div class="clearfix"></div>
        <div class="bot-border"></div>
        <div class="col-sm-5 col-xs-6 title " >City:</div><div class="col-sm-7">Queens</div>
        
        <div class="clearfix"></div>
       <div class="bot-border"></div>
        
        <div class="col-sm-5 col-xs-6 title " >Email:</div><div class="col-sm-7">sample@sample.com</div>
              
        
         <div class="clearfix"></div>
        <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 title " >Nationality:</div><div class="col-sm-7">Bangladeshi</div>
              
        
         <div class="clearfix"></div>
        <div class="bot-border"></div>
        
        <div class="col-sm-5 col-xs-6 title " >Gender:</div><div class="col-sm-7">Male</div>
        <div class="clearfix"></div>
        <div class="bot-border"></div>
        
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
        
                </div>
               
                    
            </div> 
            </div>
        </div>  
</div>